*.*
!.gitattributes
!.gitignore
!README.md
!setup-bubb_spell_menu_extended.exe
!bubb_spell_menu_extended/*.*
!bubb_spell_menu_extended/copy/*.*
!bubb_spell_menu_extended/copy/bg2ee/*.*
!bubb_spell_menu_extended/copy/bgee/*.*
!bubb_spell_menu_extended/copy/iwdee/*.*
!bubb_spell_menu_extended/copy/main/*.*
!bubb_spell_menu_extended/copy/menu/*.*