*.*
EET/*

!setup-bubb_spell_menu_extended.exe

!bubb_spell_menu_extended/*.*
!bubb_spell_menu_extended/copy/*.*
!bubb_spell_menu_extended/work/UIUtil.exe

!bubb_spell_menu_extended/environments/bg2ee/bam/*.*
!bubb_spell_menu_extended/environments/bg2ee/copy/*.*
!bubb_spell_menu_extended/environments/bg2ee/uipatches/*.*

!bubb_spell_menu_extended/environments/bgee+sod/bam/*.*
!bubb_spell_menu_extended/environments/bgee+sod/copy/*.*
!bubb_spell_menu_extended/environments/bgee+sod/uipatches/*.*

!bubb_spell_menu_extended/environments/Dragonspear UI++/copy/*.*
!bubb_spell_menu_extended/environments/Dragonspear UI++/uipatches/*.*

!bubb_spell_menu_extended/environments/eet/copy/*.*
!bubb_spell_menu_extended/environments/eet/uipatches/*.*

!bubb_spell_menu_extended/environments/iwdee/bam/*.*
!bubb_spell_menu_extended/environments/iwdee/copy/*.*
!bubb_spell_menu_extended/environments/iwdee/uipatches/*.*

!bubb_spell_menu_extended/environments/LeUI/copy/*.*
!bubb_spell_menu_extended/environments/LeUI/uipatches/*.*

!bubb_spell_menu_extended/environments/LeUI-IWDEE/copy/*.*
!bubb_spell_menu_extended/environments/LeUI-IWDEE/uipatches/*.*

!bubb_spell_menu_extended/environments/LeUI-SoD/copy/*.*
!bubb_spell_menu_extended/environments/LeUI-SoD/uipatches/*.*
